<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <!-- 引入Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <!-- 一个未命名插槽，这个插槽是默认插槽，也就是说它会作为所有未匹配到插槽的内容的统一出口-->
  <div id="app">
      <todo-list v-bind:todos="todos">
          <!-- 将 `slotProps` 定义为插槽作用域的名字 -->
          <template slot-scope="slotProps">
            <!-- 为待办项自定义一个模板，-->
            <!-- 通过 `slotProps` 定制每个待办项。-->
            <span v-if="slotProps.todo.isComplete">✓</span>
            {{ slotProps.todo.text }}
          </template>
        </todo-list>
  </div>
  <script>
    //<!-- 我们为每个 todo 准备了一个插槽，-->
    //<!-- 将 `todo` 对象作为一个插槽的 prop 传入。-->
    new Vue({
      el:'#app',
      template:'<ul>'+
      '<li v-for="todo in todos" v-bind:key="todo.id">'+
      '<slot v-bind:todo="todo">'+
      +'{{ todo.text }}'+'</slot>'+'</li></ul>'
    })
  </script>
  <!-- 作用域插槽 -->
</body>
</html>